doctype html
meta(charset="utf-8")
head
  link(rel="stylesheet" type="text/css" href="../main.css" media="all")
  title HackerTV

body#body
  header
    //- include src/templates/convey_logo.jade
    button(id="create") Start Streaming
  #wrap.wrap

  script(src="client_renderer.js" type="text/javascript")
  p(align="center")
    video(id="video")
